body {
    font-size: 17px;
}
main {
    max-width: 700px;
    margin: 0 auto;
}
input {
    margin-bottom: 10px;
}
details {
    box-shadow: rgb(85, 85, 85) 2px 3px 7px;
    margin-bottom: 9px;
    padding: 10px;
    border-left: 3px solid orange;
}
strong {
    color: red;
}
span {
    font-size: 20px;
    font-weight: 800;
}
/* ol {
    list-style: none;
  } */
  
ol > li::marker{
    color: brown;
    font-size: 20px;
}

/* ol li:nth-child(1)::before {content: '7.';}
ol li:nth-child(2)::before {content: '6.';}
ol li:nth-child(3)::before {content: '5.';}
ol li:nth-child(4)::before {content: '4.';}
ol li:nth-child(5)::before {content: '3.';}
ol li:nth-child(6)::before {content: '2.';}
ol li:nth-child(7)::before {content: '1.';} */